.DS_Store
PROPOSAL.docx
PROPOSAL.pdf
sawtooth.py
Screenshot 2024-01-10 at 9.26.47 PM.png
NewProject/NewProject.jucer
NewProject/Builds/LinuxMakefile/Makefile
NewProject/Builds/LinuxMakefile/make_helpers/arch_detection.cpp
NewProject/Builds/MacOSX/Info-AU.plist
NewProject/Builds/MacOSX/Info-Standalone_Plugin.plist
NewProject/Builds/MacOSX/Info-VST3_Manifest_Helper.plist
NewProject/Builds/MacOSX/Info-VST3.plist
NewProject/Builds/MacOSX/RecentFilesMenuTemplate.nib
NewProject/Builds/MacOSX/course_project.xcodeproj/project.pbxproj
NewProject/Builds/MacOSX/course_project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NewProject/Builds/MacOSX/course_project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NewProject/Builds/MacOSX/course_project.xcodeproj/project.xcworkspace/xcuserdata/kyleklein.xcuserdatad/UserInterfaceState.xcuserstate
NewProject/Builds/MacOSX/course_project.xcodeproj/xcuserdata/kyleklein.xcuserdatad/xcschemes/xcschememanagement.plist
NewProject/Builds/MacOSX/NewProject.xcodeproj/project.pbxproj
NewProject/Builds/VisualStudio2022/course_project_SharedCode.vcxproj
NewProject/Builds/VisualStudio2022/course_project_SharedCode.vcxproj.filters
NewProject/Builds/VisualStudio2022/course_project_StandalonePlugin.vcxproj
NewProject/Builds/VisualStudio2022/course_project_StandalonePlugin.vcxproj.filters
NewProject/Builds/VisualStudio2022/course_project_VST3.vcxproj
NewProject/Builds/VisualStudio2022/course_project_VST3.vcxproj.filters
NewProject/Builds/VisualStudio2022/course_project_VST3ManifestHelper.vcxproj
NewProject/Builds/VisualStudio2022/course_project_VST3ManifestHelper.vcxproj.filters
NewProject/Builds/VisualStudio2022/course_project.sln
NewProject/Builds/VisualStudio2022/NewProject_SharedCode.vcxproj
NewProject/Builds/VisualStudio2022/NewProject_SharedCode.vcxproj.filters
NewProject/Builds/VisualStudio2022/NewProject_StandalonePlugin.vcxproj
NewProject/Builds/VisualStudio2022/NewProject_StandalonePlugin.vcxproj.filters
NewProject/Builds/VisualStudio2022/NewProject_VST3.vcxproj
NewProject/Builds/VisualStudio2022/NewProject_VST3.vcxproj.filters
NewProject/Builds/VisualStudio2022/NewProject_VST3ManifestHelper.vcxproj
NewProject/Builds/VisualStudio2022/NewProject_VST3ManifestHelper.vcxproj.filters
NewProject/Builds/VisualStudio2022/NewProject.sln
NewProject/Builds/VisualStudio2022/resources.rc
NewProject/JuceLibraryCode/JuceHeader.h
NewProject/JuceLibraryCode/JucePluginDefines.h
NewProject/JuceLibraryCode/ReadMe.txt
NewProject/Source/PluginEditor.cpp
NewProject/Source/PluginEditor.h
NewProject/Source/PluginProcessor.cpp
NewProject/Source/PluginProcessor.h
